<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="prepareBefore" class="com.smart.advice.PrepareBeforeAdvice" />
	<bean id="relaxAfter" class="com.smart.advice.RelaxAfterAdvice" />
	<bean id="prepareRelaxAround" class="com.smart.advice.PrepareRelaxAroundInterceptor" />
	<bean id="naiveStudent" class="com.smart.advice.NaiveStudent" />


	<!--1. prepareAdvice -->
	<!--
		bean id="naiveStudent"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		p:proxyInterfaces="com.smart.advice.NaiveStudent" p:target-ref="target"
		p:interceptorNames="prepareBefore"/
	-->


	<!--2. before and after advice -->
	<!--
		bean id="naiveStudent"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		p:proxyInterfaces="com.smart.advice.NaiveStudent" p:target-ref="target"
		p:interceptorNames="greetingBefore,relaxAfter"/
	-->
    <!--3. weaving -->
	<bean id="strengthenStudent" class="org.springframework.aop.framework.ProxyFactoryBean"
		  p:proxyInterfaces="com.smart.advice.Student" p:target-ref="naiveStudent"
		  p:interceptorNames="prepareRelaxAround,prepareBefore,relaxAfter" />


	<!--4. 异常抛出增强  -->
	<bean id="forumServiceTarget" class="com.smart.advice.ForumService" />
	<bean id="transactionManager" class="com.smart.advice.TransactionManager" />
	<bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
	  p:interceptorNames="transactionManager"
	  p:target-ref="forumServiceTarget"
	  p:proxyTargetClass="true"/>

</beans>
